/node_modules
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
output
npm-debug.log
testem.log
/typings
/e2e/*.js
/e2e/*.map
.DS_Store
Thumbs.db