<div class="container">
  <div class="row">
    <div class="col-12">
      <ul class="nav">  
        <li *ngFor="let item of menu"><a [routerLink]="['/' + item.id]" [routerLinkActive]="['active']"><i class="material-icons">{{item.icon}}</i> <span>{{item.text}}</span></a></li>
        <li class="sep"></li>
        <li class="user"><a><img [src]="'/res/img/user/' + (user ? user.username : 'user') + '.jpg'" alt="" class="photo"></a></li>
        <li class="menu">
          <i class="material-icons">arrow_drop_down</i>
          <ul>
            <li *ngFor="let item of subMenu"><a (click)="item.action && item.action()"><i class="material-icons">{{item.icon}}</i> <span>{{item.text}}</span></a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-8">
      <router-outlet></router-outlet>
    </div>
    <div class="col-4">
      <app-side></app-side>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <div class="panel">
        <p class="footer">Multi Web App. 2017&copy;</p>
      </div>
    </div>
  </div>
</div>